html,
body {
	background: #fff;
	height: 100%;
	position: relative;
	box-sizing: border-box;
	margin: 0;
}

/* popup styles */
.popup-outer-wrapper {
	padding: 20px;
}
.popup-app-link > span {
	vertical-align: bottom;
}

.app-wrapper,
.app {
	height: 100%;
	min-height: 100%;
}
.app.loading,
.app.login {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.app > div {

}
.transition {
	transition: color 0.3s linear;
}
.fb {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* search */
.search-results {
	padding-top: 20px;
}

/* Audio item */
.audio-item {
	padding-bottom: 10px;
	margin-bottom: 10px;
	/*border-bottom: 1px solid #ccc;*/
}
.audio-item-audioplayer {
	padding-right: 90px;
	display: inline-block;
	width: 100%;
	margin-right: -70px;
}
.audio-item-actions {
	display: inline-block;
	margin: 0;
	padding: 0;
	vertical-align: bottom;
}
.audio-item-actions li {
	float: left;
	list-style-type: none;
}
.audio-item-actions li:first-child {
	margin-right: 10px;
}

/* audio player */
.audio-item-player {
	margin-right: 50px;
}
.audio-player {

}
.audio-controls {
	float: left;
}

.audio-info {
	padding-left: 55px;
}
.audio-info-track-name {
	display: inline-block;
	width: 100%;
	margin-right: -70px;
	padding-right: 80px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.audio-info-artist,
.audio-info-title {

}
.audio-info-duration {
	display: inline-block;
	float: right;
	position: relative;
	z-index: 2;
	cursor: pointer;
}

.audio-timeline-holder {
	width: 100%;
	height: 4px;
	margin: 0;
	background: #ccc;
	position: relative;
	cursor: pointer;
}
.audio-timeline,
.audio-buffered {
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
}

.audio-timeline {
	z-index: 2;
}
.audio-buffered {
	background: #bbb;
	z-index: 1;
}


/* common styles */
.clearfix:after {
	display: table;
	clear: both;
	float: none;
}