html,
body {
	background: #fff;
	height: 100%;
	position: relative;
	box-sizing: border-box;
	margin: 0;
}

/* header styles */
.navbar .navbar-nav > li > a {
	padding-left: 0;
}

/* popup styles */
.popup-outer-wrapper {
	padding: 20px;
}
.popup-app-link > span {
	vertical-align: bottom;
}

.app-wrapper,
.app {
	height: 100%;
	min-height: 100%;
}
.loading,
.login {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.app > div {

}
.transition {
	transition: color 0.3s linear;
}
.fb {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* loading view */
.spinner {
	width: 50px;
	height: 40px;
	text-align: center;
	font-size: 10px;
}

.spinner > div {
	background-color: #009688;
	height: 100%;
	width: 6px;
	display: inline-block;
	margin-right: 1px;
	-webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
	animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
	-webkit-animation-delay: -1.1s;
	animation-delay: -1.1s;
}

.spinner .rect3 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

.spinner .rect4 {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}

.spinner .rect5 {
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
	0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
	20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
	0%, 40%, 100% {
		transform: scaleY(0.4);
		-webkit-transform: scaleY(0.4);
	}  20% {
		   transform: scaleY(1.0);
		   -webkit-transform: scaleY(1.0);
	   }
}

/* app-content */
.app-content-container {
	/*padding-top: 60px;*/
	/*height: 100%;*/
	/*overflow: hidden;*/
}

/* app-content-header */
.app-content-header-navbar {
	/*margin-bottom: 0;*/
}

/* search */
.app-content-search-form-row {
	/*padding-top: 15px;*/
	/*padding-bottom: 15px;*/
}
.search-results {
	padding-top: 20px;
}

/* audio list */
.audio-list {
	padding-top: 15px;
}

/* Audio item */
.audio-item {
	padding-bottom: 10px;
	margin-bottom: 10px;
	/*border-bottom: 1px solid #ccc;*/
}
.audio-item-audioplayer {
	padding-right: 90px;
	display: inline-block;
	width: 100%;
	margin-right: -70px;
}
.audio-item-actions {
	display: inline-block;
	margin: 0;
	padding: 0;
	vertical-align: bottom;
}
.audio-item-actions li {
	float: left;
	list-style-type: none;
}
.audio-item-actions li:first-child {
	margin-right: 10px;
}

/* audio player */
.audio-item-player {
	margin-right: 50px;
}
.audio-player {

}
.audio-controls {
	float: left;
}

.audio-info {
	padding-left: 55px;
}
.audio-info-track-name {
	display: inline-block;
	width: 100%;
	margin-right: -70px;
	padding-right: 80px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.audio-info-artist,
.audio-info-title {

}
.audio-info-duration {
	display: inline-block;
	float: right;
	position: relative;
	z-index: 2;
	cursor: pointer;
}

.audio-timeline-holder {
	width: 100%;
	height: 4px;
	margin: 0;
	background: #ccc;
	position: relative;
	cursor: pointer;
}
.audio-timeline,
.audio-buffered {
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
}
.progress-bar {}
.audio-timeline {
	z-index: 2;
}
.audio-buffered {
	background: #bbb;
	z-index: 1;
}


/* common styles */
.clearfix:after {
	display: table;
	clear: both;
	float: none;
}